.hero-page {
    min-height: 520px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 5rem 2rem 4rem;
    border-bottom: 0.5px solid #ffffff0f;
}

.hero-title {
    font-family: 'Orbitron', monospace;
    font-size: 52px;
    font-weight: 900;
    letter-spacing: 6px;
    text-transform: uppercase;
    line-height: 1;
    color: #ffffff;
    margin-bottom: 1rem;
}

.hero-title-span{
    color: #7de8c8;
}

.hero-subtitle {
    font-size: 13px;
    letter-spacing: 4px;
    text-transform: uppercase;
    color: #ffffff59;
    margin-bottom: 2rem;
}

.hero-tagline {
    font-size: 17px;
    font-weight: 300;
    color: #ffffffb3;
    max-width: 720px;
    line-height: 1.7;
    margin-bottom: 3rem;
    font-style: normal;
}

.hero-em {
    font-style: normal;
    color: #7de8c8;
    font-weight: 500;
}

.hero-buttom {
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
    justify-content: center;
}